@media (min-width: 312px) {
  .card-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 468px) {
  .card-container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 624px) {
  .card-container {
      grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 780px) {
  .card-container {
      grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
@media (min-width: 936px) {
  .card-container {
      grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1092px) {
  .card-container {
      grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}
@media (min-width: 1248px) {
  .card-container {
      grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media (min-width: 1404px) {
  .card-container {
      grid-template-columns: repeat(9, minmax(0, 1fr));
  }
}
@media (min-width: 1560px) {
  .card-container {
      grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}
@media (min-width: 1716px) {
  .card-container {
      grid-template-columns: repeat(11, minmax(0, 1fr));
  }
}
@media (min-width: 1872px) {
  .card-container {
      grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
@media (min-width: 2028px) {
  .card-container {
      grid-template-columns: repeat(13, minmax(0, 1fr));
  }
}
@media (min-width: 2184px) {
  .card-container {
      grid-template-columns: repeat(14, minmax(0, 1fr));
  }
}
@media (min-width: 2340px) {
  .card-container {
      grid-template-columns: repeat(15, minmax(0, 1fr));
  }
}
@media (min-width: 2496px) {
  .card-container {
      grid-template-columns: repeat(16, minmax(0, 1fr));
  }
}